/* src/styles/fonts.css */
@font-face {
    font-family: 'DreiFraktur';
    src: url('../assets/fonts/DreiFraktur.woff2') format('woff2'),
         url('../assets/fonts/DreiFraktur.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }